.arrow {
	border: none;
	background-color: white;
	cursor: pointer;
}

.pageNumber {
	border: none;
	background-color: white;
	cursor: pointer;
}

.pageNumber:disabled {
	cursor: default;
}

.pageNumber {
	padding: 8px;
}
