.arrow {
	border: none;
	background-color: white;
	cursor: pointer;
}

.pageNumber {
	border: none;
	background-color: white;
	cursor: pointer;
}

.pageNumber:disabled {
	cursor: default;
}

.pageNumber {
	padding: 8px;
}

.pageNumber.dark,
.arrow.dark {
	background-color: #23272f;
	color: #f6f7f9;
}
.pageNumber.light,
.arrow.light {
	background-color: white;
	color: black;
}
